body 
    display flex
    justify-content center
    font-family 'Open Sans', sans-serif

.content-sbs
    background-color #f7f9ff
    width 755px
.header    
    flex-direction column
    padding 25px 20px 20px 20px

.date_sbs
    margin-bottom 10px
    font-size 16px 
    color #717e91
    font-weight 400

.info_sbs
    display flex
    justify-content space-between
    color: #454d6b
    font-size 26px
    margin-top 20px
    margin-bottom 10px
    font-weight 300

.from_sbs
    font-weight 700
    &::before
        content ""
        width 5px
        height 5px
        border-radius 50%
        background-color  #454d6b

.rate_sbs
    display flex
    font-size 14px
    color  #717e91
    font-weight 400
    .ul_sbs
        list-style-type none
        overflow hidden
        padding 0
        margin 0
        li
            float left
.rate_calf
    font-size 10px
    color #717e91
    font-weight 400

.offerts_sbs
    font-size 20px
    color #717e91
    font-weight 300


    